body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #007BFF;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

td, .td {
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

button, .button {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
    background: #007BFF;
    border: none;
    text-decoration: none;
}

.button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f8f9fa;
    position: relative;
    bottom: 0;
    width: 100%;
}

.product-list, .order-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}

.product-list li, .order-list li {
    background: #f2f2f2;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
}

.mainapp-section{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.basket_list li{
    background: #f2f2f2;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
}