{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="mainapp-section">
    <h2>Добро пожаловать в наш магазин!</h2>
    <p>Мы предлагаем широкий ассортимент вымышленных товаров.</p>
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите имя категории</label><br>
            <input type="text" name="name" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    <h2>Список Категорий</h2>
    <table>
        <thead><th>Название</th><th>Действия</th></thead>
        {% for category in page_obj %}
        {% if category.is_deleted == 0 %}
        <tr>
            <td>
                <a><h3>{{ category.name }}</h3></a>
            </td>
            <td><a href="edit/{{category.id}}">Изменить</a> | <a href="delete/{{category.id}}">Удалить</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </span>
    </div>

</section>
{% endblock %}