{% extends 'base.html' %}

{% block title %}Редактирование продукта{% endblock %}

{% block content %}
<section class="mainapp-section">
    <form method="POST">
        {% csrf_token %}
        <p>
        <label for="category">Выберите категорию:</label><br>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select><br>

        <label for="name">Название:</label><br>
        <input type="text" name="name" value="{{ product.name }}"><br>

        <label for="description">Описание:</label><br>
        <textarea name="description">{{ product.description }}</textarea><br>
        </p>
        <button type="submit">Сохранить</button>
    </form>
</section>
{% endblock %}