{% extends 'base.html' %}

{% block title %}Продукты{% endblock %}

{% block content %}
<section class="mainapp-section">
    <h2>Добро пожаловать в наш магазин!</h2>
    <a href="/product">Продукты</a>
    <a href="/category">Категории</a>
    <p>Мы предлагаем широкий ассортимент вымышленных товаров.</p>
    <form method="POST" action="create/">
        {% csrf_token %}
        <label for="category">Выберите категорию:</label><br>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select><br>

        <label for="name">Название:</label><br>
        <input type="text" name="name" value="{{ product.name }}"><br>

        <label for="description">Описание:</label><br>
        <textarea name="description">{{ product.description }}</textarea><br>
        <input type="submit" value="Добавить продукт" >
    </form>
    <h2>Список товаров</h2>
    <table>
        <thead><th>Имя</th><th>Категория</th><th>Описание</th><th></th></thead>
        {% for product in page_obj %}
        {% if product.is_deleted == 0 %}
        <tr>
            <td><a><h3>{{ product.name }}</h3></a></td>
            <td><a><h3>{{ product.category }}</h3></a></td>
            <td><a><h3>{{ product.description }}</h3></a></td>
            <td><a href="edit/{{product.id}}">Изменить</a> | <a href="delete/{{product.id}}">Удалить</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </span>
    </div>

</section>
{% endblock %}