<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Редактирование продукта</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Выберите категорию</label><br>
                <select>
                    {% for category in category %}
                        <option value="category">{{category.name}}</option>
                    {% endfor %}
                </select><br>
            <label>Введите название продукта</label><br>
            <input type="text" name="name" value="{{product.name}}"/><br>
            <label>Введите описание продукта</label><br>
            <input type="text" name="description" value="{{product.description}}"/><br>
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>